## weewx-me.teo
## Copyright (C) 2024 Pascal Bourque
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.
##
#set $observations = $to_list($DisplayOptions.get('observations_current', ['outTemp', 'outHumidity', 'windDir', 'windSpeed', 'windGust', 'rainRate', 'rain', 'barometer', 'UV']))
#set $obs_type_sum = $to_list($DisplayOptions.get('obs_type_sum', ['rain', 'ET', 'hail', 'snow', 'lightning_strike_count']))
#set $obs_type_max = $to_list($DisplayOptions.get('obs_type_max', ['rainRate', 'hailRate', 'snowRate', 'UV']))
{
  "report": {
    "time": $current.dateTime.json
  },
  "observations": [
#for $x in $observations
  #if $getVar('current.%s.has_data' % $x)
    {
      "observation": "$x",
      "label": "$obs.label[$x]",
      "unit": "$getVar('unit.label.' + $x)",
    #if $x == 'windDir'
      #set $wind_vecavg = $span(hour_delta=24).wind.vecavg.raw
      #set $wind_avg = $span(hour_delta=24).windSpeed.avg.raw
      #set $steadiness = $wind_vecavg / $wind_avg if $wind_avg > 0 else 0
      #if $steadiness > 0.75
        #set $consistency = $gettext("steady")
      #elif $steadiness > 0.5
        #set $consistency = $gettext("mainly")
      #else
        #set $consistency = $gettext("variable")
      #end if
      "current": $getVar('current.' + $x).json,
      "currentCompass": "$current.windDir.ordinal_compass",
      "avg": $span(hour_delta=24).wind.vecdir.json,
      "avgCompass": "$span(hour_delta=24).wind.vecdir.ordinal_compass",
      "avgLabel": "$consistency",
      "past24h": $span(hour_delta=24).windDir.series(aggregate_type='avg', aggregate_interval='1h', time_series='start').json
    #elif $x in $obs_type_sum
      "current": $getattr($span(hour_delta=24), $x).sum.json,
      "sum": $getattr($span(hour_delta=24), $x).sum.json,
      "past24h": $getattr($span(hour_delta=24), $x).series(aggregate_type='sum', aggregate_interval='1h', time_series='start').json
    #elif $x in $obs_type_max
      "current": $getVar('current.' + $x).json,
      "max": $getattr($span(hour_delta=24), $x).max.json,
      "maxTime": $getattr($span(hour_delta=24), $x).maxtime.json,
      "past24h": $getattr($span(hour_delta=24), $x).series(aggregate_type='max', aggregate_interval='1h', time_series='start').json
    #else
      "current": $getVar('current.' + $x).json,
      "min": $getattr($span(hour_delta=24), $x).min.json,
      "minTime": $getattr($span(hour_delta=24), $x).mintime.json,
      "max": $getattr($span(hour_delta=24), $x).max.json,
      "maxTime": $getattr($span(hour_delta=24), $x).maxtime.json,
      "past24h": $getattr($span(hour_delta=24), $x).series(aggregate_type='avg', aggregate_interval='1h', time_series='start').json
    #end if
    },
  #else
    {
      "observation": "$x",
      "label": "$obs.label[$x]",
      "unit": "$getVar('unit.label.' + $x)",
      "current": 0,
      "past24h": []
    },
  #end if
#end for
    ## Last value can't end with a comma
    null
  ]
}
