## weewx-me.teo
## Copyright (C) 2024 Pascal Bourque
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.
##
#set $observations = $to_list($DisplayOptions.get('observations_summary', ['outTemp', 'outHumidity', 'windDir', 'windSpeed', 'windGust', 'rainRate', 'rain', 'barometer', 'UV']))
#set $obs_type_sum = $to_list($DisplayOptions.get('obs_type_sum', ['rain', 'ET', 'hail', 'snow', 'lightning_strike_count']))
#set $obs_type_max = $to_list($DisplayOptions.get('obs_type_max', ['rainRate', 'hailRate', 'snowRate', 'UV']))
#set $aggregate_interval = 'hour'
{
  "report": {
    "time": $week.dateTime.json
  },
  "observations": [
#for $x in $observations
  #if $getVar('week.%s.has_data' % $x)
    {
      "observation": "$x",
      "label": "$obs.label[$x]",
      "unit": "$getVar('unit.label.' + $x)",
    #if $x == 'windDir'
      #set $wind_vecavg = $week.wind.vecavg.raw
      #set $wind_avg = $week.windSpeed.avg.raw
      #set $steadiness = $wind_vecavg / $wind_avg if $wind_avg > 0 else 0
      #if $steadiness > 0.75
        #set $consistency = $gettext("steady")
      #elif $steadiness > 0.5
        #set $consistency = $gettext("mainly")
      #else
        #set $consistency = $gettext("variable")
      #end if
      "avg": $week.wind.vecdir.json,
      "avgCompass": "$week.wind.vecdir.ordinal_compass",
      "avgLabel": "$consistency",
      "graph": $week.windDir.series(aggregate_type='avg', aggregate_interval=$aggregate_interval, time_series='stop').json
    #elif $x in $obs_type_sum
      "sum": $getattr($week, $x).sum.json,
      "graph": $getattr($week, $x).series(aggregate_type='sum', aggregate_interval=$aggregate_interval, time_series='stop').json
    #elif $x in $obs_type_max
      "max": $getattr($week, $x).max.json,
      "maxTime": $getattr($week, $x).maxtime.json,
      "graph": $getattr($week, $x).series(aggregate_type='max', aggregate_interval=$aggregate_interval, time_series='stop').json
    #else
      "min": $getattr($week, $x).min.json,
      "minTime": $getattr($week, $x).mintime.json,
      "max": $getattr($week, $x).max.json,
      "maxTime": $getattr($week, $x).maxtime.json,
      "avg": $getattr($week, $x).avg.json,
      "graph": $getattr($week, $x).series(aggregate_type='avg', aggregate_interval=$aggregate_interval, time_series='stop').json
    #end if
    },
  #else
    {
      "observation": "$x",
      "label": "$obs.label[$x]",
      "unit": "$getVar('unit.label.' + $x)",
      "graph": []
    },
  #end if
#end for
    ## Last value can't end with a comma
    null
  ]
}
