name: 'CI: Lint & Multi-locale Build'

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

env:
  NODE_VERSION: 20.x

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      # --force is required for now, as NextJS references a React version that is not yet published.
      - run: npm ci --force
      - run: npm run lint
      - run: npm run style-lint

  build:
    needs: lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        build-locale:
          - en
          - fr

    env:
      METEO_BUILD_LOCALE: ${{ matrix.build-locale }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Cache NextJS build dependencies
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.next/cache

          # Generate a new cache whenever packages or source files change.
          key: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx',
            '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      # --force is required for now, as NextJS references a React version that is not yet published.
      - run: npm ci --force
      - run: npm run build

      # Upload artifacts for this locale
      - uses: actions/upload-artifact@v4
        with:
          name: build-output-${{ matrix.build-locale }}
          path: ./out
          retention-days: 1

  package:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create package directory
        run: mkdir -p ./package/weewx-me.teo/skins/me.teo

      - name: Add locale HTML builds
        uses: actions/download-artifact@v4
        with:
          pattern: build-output-*
          path: ./package/weewx-me.teo/skins/me.teo
          merge-multiple: true

      - name: Add skin files
        run: cp -r ./weewx/* ./package/weewx-me.teo/

      - name: Create package archive
        uses: actions/upload-artifact@v4
        with:
          name: weewx-me.teo
          path: ./package
          retention-days: 1

  release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: package
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      # --force is required for now, as NextJS references a React version that is not yet published.
      - run: npm ci --force

      - name: Download skin package
        uses: actions/download-artifact@v4
        with:
          name: weewx-me.teo
          path: package

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
